* {
    margin: auto;
}

body {
    overflow:hidden;
}

.container {
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 10px 0  rgb(148, 148, 148) ;
    background-color: white;
}

.slide_content {
    display: flex;
    padding-top: 100px;
    margin-left: 600px;
    justify-content: space-around;
    transition: all 1s ease;
}